.main {
    min-height: 73.6vh;
    p {
        text-align: center;
    }
    .myAccountContentWrapper {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
        > div {
            width: 50%;
            border: 1px solid black;
            border-radius: 10px;
            margin: 0 10px;
        }
    }
    .formWrapper {
        text-align: center;
        h3 {
            text-align: center;
        }
        form {
            width: 500px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;

            .inputWrapper {
                margin: 10px auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                label {
                    text-align: right;
                    width: 100%;
                    margin-bottom: 5px;
                }
                input {
                    padding: 8px 20px;
                    border: none;
                    border-radius: 20px;
                    min-width: 180px;
                }
            }
            .buttonWrapper {
                grid-column: 1 / -1;
                display: flex;
                justify-content: center;
                .submitButton {
                    margin: 20px auto;
                    text-align: center;
                }
            }
        }
    }
    .myCars {
        // display: flex;
        // justify-content: center;
        text-align: center;
        h3 {
            text-align: center;
        }
    }
}
.carFindOptions {
    display: flex;
    justify-content: space-around;
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        button.success {
            background-color: #94d137;
        }
        strong {
            margin-bottom: 10px;
        }
    }
}
.centered {
    justify-content: center;
    text-align: center;
}
.editLicenseWrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .editLicenseFields {
    // min-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    label {
      font-weight: bold;
      text-align: right;
    }
    input {
      border-radius: 10px;
      border: 1px solid rgb(196, 196, 196);
      padding-right: 5px;
      color: black;
      font-weight: 600;
      &::placeholder {
        color: rgb(157, 157, 157);
      }
    }
  }
  button {
    margin-top: 20px;
  }
}
.myCars {
    padding-bottom: 20px;
    h5 {
        margin-bottom: 20px;
    }
    .licensePlateWrapper {
        position: relative;
        width: 40%;
        margin: 0 auto 20px auto;
        .icons {
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            z-index: 99;
            justify-content: center;
            align-items: center;
          }
          .delete {
            color: red;
            transform: translate(-300%, -50%);
          }
          .edit {
          color: green;
          transform: translate(-150%, -50%);
        }
    }
    .licensePlate {
        background-color: #ffca12;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: auto;
        cursor: pointer;
        transition: all 0.3s ease;
        &:after {
            content: "צפייה בפרטי הרכב";
            font-size: 24px;
            position: absolute;
            color: black;
            font-weight: bold;
            text-align: center;
            left: calc(50% + 20px);
            top: 50%;
            width: calc(100% - 20px);
            margin: 0 auto;
            z-index: 1;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
        }
        &:hover {
            background-color: #ffcc1231;
            color: #00000030;
            transition: all 0.3s ease;
            &::after {
                opacity: 1;
            }
        }
        .numbers {
            font-size: 42px;
            font-weight: 400;
            text-align: center;
            width: 100%;
            letter-spacing: 1px;
            font-family: fantasy;
        }
        .imageWrapper {
            height: 100% !important;
            > span {
                display: block !important;
                height: 100% !important;
                img {
                    height: 100% !important;
                    width: 40px !important;
                }
            }
        }
    }
}
.disabled {
  opacity: 0.5 !important;
}
@media only screen and (max-width: 767px) {
    .main {
        min-height: 73.5vh;
        p {
            text-align: center;
        }
        .formWrapper {
            position: relative;
            width: 100vw;
            form {
                max-width: 100%;
                // grid-template-columns: repeat(1, 1fr);
                .inputWrapper {
                    input {
                        padding: 8px 10px;
                        min-width: 160px;
                    }
                }
            }
        }
    }
}
