.mapPopup {

    .locationSelectionWrapper {
        // background-color: red;
        h2 {
            font-size: 14px;
            font-family: 'assistant';
        }
        button {
            font-size: 14px;
            box-shadow: none;
        }
        
    }
    
}